{:spam-threshold 70
 :training-corpus {:spam-dirs ["~/.talispam/spam"
                               "~/.talispam/spam_2"]
                   :ham-dirs ["~/.talispam/easy_ham"
                              "~/.talispam/easy_ham_2"]}
 :dictionary {:use true
              :location "~/.talispam/dict.mp"
              :files ["~/.talispam/en_20k.txt"
                      "~/.talispam/it_30k.txt"]}
 :filter-db {:location "~/.talispam/db.mp"}
 :whitelist {:use true
             :location "~/.talispam/whitelist.txt"}}
